<div id="page">
  <header>
    <h1><%= name %></h1>
    <div><%= title %> • <%= location %> • <%= contact["phone"] %></div>
    <div><%= contact["email"] %> • <img src="linkedin.svg" alt="" class="icon">lucas-gruner • <img src="github.svg" alt="" class="icon">lwg21</div>
  </header>
  <main>
    <section class="summary"><%= summary %></section>
    <section>
      <h2>EXPERIENCE</h2>
      <% experiences.each do %>
        <%= render "experience", experience: _1 %>
      <% end %>
    </section>

    <section>
      <h2>EDUCATION</h2>
      <% education.each do %>
        <%= render "education", education: _1 %>
      <% end %>
    </section>

    <section>
      <h2>SKILLS & TOOLS</h2>
      <%= render "skills", skills: skills %>
    </section>

    <section>
      <h2>LANGUAGES</h2>
      <ul>
        <% languages.each do %>
          <li><%= _1["name"] %></li>
        <% end %>
      </ul>
    </section>

    <section>
      <h2>INTERESTS</h2>
      <ul>
        <% interests.each do %>
          <li><%= _1 %></li>
        <% end %>
      </ul>
    </section>
  </main>
</div>
