<!-- Build your resume here (from scratch or using the code below) -->

<div id="page">
  <%= render "header", data %>
  <div class="container wrap">
    <main>
      <section>
        <%= render "title", title: "Experience" %>
        <% experiences.each do %>
          <%= render "experience", experience: _1 %>
        <% end %>
      </section>
      <section>
        <%= render "title", title: "Education" %>
        <% education.each do %>
          <%= render "education", education: _1 %>
        <% end %>
      </section>
    </main>
    <aside class="flex-column-between">
      <section>
        <%= render "title", title: "Skills & Tools" %>
        <div>
          <% skills.each do |k, v| %>
            <div class="mb-2">
              <div><strong><%= k %></strong></div>
              <div><%= v.join(", ") %></div>
            </div>
          <% end %>
        </div>
      </section>
      <section>
        <%= render "title", title: "Languages" %>
          <div>
            <% languages.each do %>
              <div><strong><%= _1["name"] %></strong> <%= _1["fluency"] %></div>
              <div> <%= _1["details"] %></div>
            <% end %>
          </div>
      </section>
      <section>
        <%= render "title", title: "Interests" %>
        <div><%= interests.join(", ") %></div>
      </section>
    </aside>
  </div>
</div>
