<div id="page">
  <%= render "header", data %>
  <div class="container wrap">
    <main>
      <section>
        <%= render "title", title: "Experience", icon: "briefcase" %>
        <% experiences.reject { _1["employment"] == 'internship' }.each do %>
          <%= render "experience", experience: _1 %>
        <% end %>
        <div class="mb-2"><strong>Internships</strong></div>
        <ul>
          <% experiences.select { _1["employment"] == 'internship' }.each do %>
            <li class"smaller"><%= render "internship", experience: _1 %></li>
          <% end %>
        </ul>
      </section>
      <section>
        <%= render "title", title: "Education", icon: "school" %>
        <% education.each do %>
          <%= render "education", education: _1 %>
        <% end %>
      </section>
    </main>
    <aside class="flex-column-between">
      <section>
        <%= render "title", title: "Training", icon: "code" %>
        <% training.each do %>
          <%= render "education", education: _1 %>
        <% end %>
      </section>
      <section>
        <%= render "title", title: "Skills & Tools", icon: "tools" %>
        <div>
          <% skills.each do |k, v| %>
            <div class="mb-2">
              <div><strong class="smaller"><%= k %></strong></div>
              <div><%= v.join(", ") %></div>
            </div>
          <% end %>
        </div>
      </section>
      <section>
        <%= render "title", title: "Languages", icon: "language" %>
          <ul>
            <% languages.each do %>
              <li>
                <div><strong><%= _1["name"] %></strong> <%= _1["fluency"] %></div>
                <div class="smaller"> <%= _1["details"] %></div>
              </li>
            <% end %>
          </ul>
      </section>
      <section>
        <%= render "title", title: "Interests", icon: "palette" %>
        <div class="smaller"><%= interests.join(", ") %></div>
      </section>
    </aside>
  </div>
</div>
